.back{
  background-image: url('https://i.pinimg.com/originals/f4/1a/77/f41a775c1cfeddf411bbf78ed70e87c2.jpg') !important;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}